html,body{
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.calculator{
  width: 316px;
  margin: 100px auto;
  padding: 15px 15px 20px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #DEDEDE;
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  background: #EEE;
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.calculator p{
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: 18px;
}

.calculator .textbox{
  text-align: right;
  width: 294px;
  height: 25px;
  margin-left: 8px;
  background-color: #FFF;
  border: 2px solid #9C9C9C;
  border-radius: 3px;
}

.calculator .btns{
  margin-left: 8px; 
}

.btns .button{
  font-family: 'Space Mono', monospace;
  margin: 15px 9px 0 0;
  width: 0px;
  height: 35px;
  text-indent: -20px;
}

#equalTo{
  padding: 0 147px;
  font-weight:bold;
  text-indent: -3px;
}

footer{
  font-family: 'Raleway', sans-serif;
  color:#CECECE;
  background-color: #888;
  height: 100px;
  text-align: center;
  padding: 60px
}

footer a{
  color: #EEE;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
  color: #CECECE;
}
